.vs
LyricCounterApp/bin/Debug/
LyricCounterApp/obj/
LyricCounterApp/obj/LyricCounterApp.csproj.nuget.dgspec.json


LyricCounterTests/bin/Debug/
LyricCounterTests/obj/
LyricCounterTests/obj/LyricCounterTests.csproj.nuget.dgspec.json
